<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - Dashboard Template</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="row flex-nowrap">
            <div class="col-auto col-lg-2 px-0 px-xl-3 shadow bg-dark" style="max-width:250px !important;">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col p-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
                    <div class="container-fluid">
                        @*<a class="navbar-brand" href="#"></a>*@
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown dropstart">
                                        <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDarkDropdownMenuLink"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                                 class="rounded-circle" />
                                            username
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Account</a></li>
                                            <li><a class="dropdown-item" href="#">Config</a></li>
                                            <li><a class="dropdown-item" href="#">Log out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid p-0 p-lg-4" style="max-width:2400px !important;">
                    <div class="row px-3 px-lg-0">
                        <div class="col-12 col-md-6">
                            <h5 class="float-start">Title</h5>
                        </div>
                        <div class="col-12 col-lg-6">
                            <nav class="float-start float-lg-end" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Area</a></li>
                                    <li class="breadcrumb-item"><a href="#">Controller</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Action</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <div class="container-fluid px-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-top">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">
                                        @DateTime.Now.Year © Cesar Campos
                                    </a>
                                </li>
                            </ul>
                            <div class="d-flex">
                                <ul class="navbar-nav float-end">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Support</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>